.parent {
  display: flex;

  min-height: 68px;
  padding: 16px;

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 16px;
  box-shadow: 0 5px 5px -5px rgb(34 60 80 / 60%);
}

.input {
  flex-grow: 1;

  min-width: 10px;
  margin-right: 8px;

  font-size: 24px;

  border: none;
  border-bottom: 2px solid lightgray;
  outline: none;
}

.input:focus {
  border-bottom-color: #388e3c;
}

.button {
  cursor: pointer;

  padding: 8px 10px;

  font-size: 24px;
  line-height: 100%;
  color: white;

  background-color: #388e3c;
  border: none;
  border-radius: 8px;
}

.button:disabled {
  cursor: auto;
  background-color: lightgray;
}

@media (max-width: 350px) {
  .input {
    font-size: 18px;
  }

  .button {
    padding: 8px 9.5px;
    font-size: 20px;
  }
}
